env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
language: node_js
node_js:
  - 4.0
before_install:
  - npm install -g node-gyp
before_script:
  - node-gyp configure build

